
<h3 class="text-primary">{{header}}</h3>
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4"style="margin-top:100px;">

    <div class="border container">
<form action="  p-5">
    <h2 class="text-center text text-primary">Login Form</h2>

    <div class="m-3">
        <!-- acno -->
<input (change)="acnoChange( $event)"class="form-control"type="text"[placeholder]="accPlaceholder">

    </div>
    <div class="m-3">
        <!-- password -->
        <input (change)="pswdChange( $event)"class="form-control" type="password"placeholder="Password">
    </div>
    <div class="m-3">
        <input (click)="login()" class="btn btn-primary"type="button"value="Login"name=""id="loginBtn">
    </div>
</form>
</div>
<div>
    <label for="">Not a user?Click here to<a href="">register</a></label>
</div>
</div>

<div class="col-lg-4"></div>
</div>
